[submodule "shared"]
	path = shared
	url = https://github.com/SEEDtk/shared
[submodule "dl4j.eval"]
	path = dl4j.eval
	url = https://github.com/SEEDtk/dl4j.eval
[submodule "kmers.reps"]
	path = kmers.reps
	url = https://github.com/SEEDtk/kmers.reps
[submodule "sequence"]
	path = sequence
	url = https://github.com/SEEDtk/sequence
[submodule "p3api"]
	path = p3api
	url = https://github.com/SEEDtk/p3api
[submodule "dl4j.decision"]
	path = dl4j.decision
	url = https://github.com/SEEDtk/dl4j.decision
[submodule "bins.generate"]
	path = bins.generate
	url = https://github.com/SEEDtk/bins.generate.git
[submodule "io.template"]
	path = io.template
	url = https://github.com/SEEDtk/io.template.git
[submodule "basic"]
	path = basic
	url = https://github.com/SEEDtk/basic
[submodule "distance"]
	path = distance
	url = https://github.com/SEEDtk/distance.git
[submodule "excel.utils"]
	path = excel.utils
	url = https://github.com/SEEDtk/excel.utils.git
[submodule "java.erdb"]
	path = java.erdb
	url = https://github.com/SEEDtk/java.erdb.git
[submodule "kmers.hammer"]
	path = kmers.hammer
	url = https://github.com/SEEDtk/kmers.hammer.git
[submodule "genome.distance"]
	path = genome.distance
	url = https://github.com/SEEDtk/genome.distance
[submodule "genome.changes"]
	path = genome.changes
	url = https://github.com/SEEDtk/genome.changes.git
